<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="../public/index.css" />
    <meta charset="utf-8">
    <title>Flight Dispatcher</title>
</head>

<body>

<header>
    <a href="/" class="brand"><img src="../public/flynow.png" width= "250px" height="70ox" alt="brand" /></a>

    <a href="https://www.netjets.com/en-us/" class="netjets"><img src="../public/netjets.png" width= "200px" height="70px" alt="netjets" /></a>

        <a href="/flights/new" class="newbtn">New Flight</a>
</header>

<div class = table>
    <table class = "flightplans">
        <thead>
            <tr>
                <th id = "title">ETD</th>
                <th id = "title">NUM</th>
                <th id = "title">AIRCRAFT</th>
                <th id = "title">REG</th>
                <th id = "title">DEP</th>
                <th id = "title">DEST</th>
                <th id = "title">PIC</th>
                <th id = "title">FO</th>
                <th id = "title">STATUS</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% for(let i = 0; i < flights.length; i++){ %>
                <tr>
                    <td id = "etd"><%= flights[i].ETD %></td>
                    <td id = "num"><%= flights[i].number %></td>
                    <td id = "aircraft"><%= flights[i].aircraft %></td>
                    <td id = "reg"><%= flights[i].reg %></td>
                    <td id = "dep"><%= flights[i].dep %></td>
                    <td id = "dest"><%= flights[i].dest %></td>
                    <td id = "pic"><%= flights[i].PIC %></td>
                    <td id = "fo"><%= flights[i].FO %></td>
                    <td id = "status"><%= flights[i].status %></td>
                    <td id = "view">
                        <form action="/flights/<%= flights[i]._id %>">
                            <input type="submit" value="View Flight" />
                        </form>
                    </td>
                </tr>
            <% } %>
        </tbody>
        <tfoot>

        </tfoot>
    </table>
</div>
</body>

</html>