<!DOCTYPE html>
<html>

<head>
    <link type="text/css" rel="stylesheet" href="../public/show.css" />
    <meta charset="utf-8">
    <title>Flight Dispatcher</title>
</head>

<body>
    <header>
        <a href="/" class="brand"><img src="../public/flynow.png" width= "250px" height="70ox" alt="brand" /></a>
    
        <a href="https://www.netjets.com/en-us/" class="netjets"><img src="../public/netjets.png" width= "200px" height="70px" alt="netjets" /></a>
    
        <a class = "backbtn" href="/flights" >Back to Dispatch</a>
    </header>

    <main>
        <section>
            <h1><%= flight.dep%> to <%= flight.dest%> (<%= flight.reg %>)</h1>

                    <div class = "details">
                    <h2>Route Details:</h2>

                    <form action="/flights/<%= flight._id %>?_method=PUT" method="POST">

                    <div id = "info0">
                        <div id= "inline">
                            <h4>Plan Number: </h4><input type="text" name="number" value="<%= flight.number %>" />
                        </div></br>
                    </div>

                    <div id = "info1">
                        <div id= "inline">
                            <h4>ETD: </h4><input type="text" name="etd" value="<%= flight.ETD %>" /><br />
                        </div>

                        <div id= "inline">
                            <h4>Aircraft: </h4><input type="text" name="aircraft" value="<%= flight.aircraft %>" /><br />
                        </div>

                        <div id= "inline">
                            <h4>Registration: </h4><input type="text" name="reg" value="<%= flight.reg %>" /><br />
                        </div>

                        <div id= "cleared">
                            <h4>Flight Cleared</h4><input id="check" type="checkbox" name="status" 

                            <% if(flight.status=== true){ %> checked <% } %>/>
                            <br />
                        </div>
                    </div>

                    <div id = "info2">
                        <div id= "inline">
                            <h4>Departure: </h4><input type="text" name="dep" value="<%= flight.dep %>" /><br />
                        </div>

                        <div id= "inline">
                            <h4>Destination: </h4><input type="text" name="dest" value="<%= flight.dest %>" /><br />
                        </div>
                        </br>
                    </div>

                    <div id = "info3">
                        <div id= "inline">
                            <h4>Max Altitude: </h4><input type="text" name="maxAlt" value="<%= flight.maxAlt %>" /><br />
                        </div>

                        <div id= "inline">
                            <h4>Route Waypoints: </h4><textarea name="route" cols="40" rows="5"><%= flight.route %></textarea><br />
                        </div>
                    </div>
                    </div>


                    <div class = "aircrew">
                    <h2>Aircrew: </h2>

                    <div id= "inline">
                        <h4>Pilot in Command: </h4><input type="text" name="PIC" value="<%= flight.PIC %>" />
                    </div>

                    <div id= "inline">
                        <h4>First Officer: </h4><input type="text" name="FO" value="<%= flight.FO %>" />
                    </div>
                    </div>

                    <input id = "savebtn" type="submit" value="Save Flight" />

                    </form>
        </section>

        <div id="delete">
        <section>
            <form action="/flights/<%= flight._id %>?_method=DELETE" method="POST">
                <input id = "deletebtn" type="submit" value="Delete Flight" />
            </form>
        </section>
        </div>

    </main>
</body>

</html>